<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href={{ url_for('static', filename='css\bootstrap.min.css')}}>
<script src={{ url_for('static', filename='js\bootstrap.min.js')}}></script>
<script src={{ url_for('static', filename='jquery-3.6.0.min.js')}}></script>
</head>
<body class="body">
    <div class="header row">
        <div class="column side left-bold">
         <a title="PyLuis Home" href={{ url_for('.index')}}><img src={{ url_for('static', filename='Icon.png') }} alt='PyLuis Home' height="100%" width="50%"></a>
        </div>
        
        <div class="column middle">
            <h1 class="center-align">Pyluis</h1>
        </div>
        
        <div class="column side">
          <h2 >Side</h2>
        </div>
    </div>
<div class="topnav text-light">
  {% set navbar_menus = [('/', 'home', 'Home'),
                          ('/about', 'about', 'About'),
                          ('/contact','contact', 'Contact Me'),
                          ('/resume', 'resume', 'Resume')]
    %}
    {%set active_page = active_page|default('home') -%}
    {% for href, id, caption in navbar_menus%}
    <a {% if id== active_page %} class='current-page' {%endif%} href="{{ href }}">{{ caption }}</a>
    {%endfor%}
</div>
<div>
  {%block body%}{%endblock%}
</div>
</body>
</html>